# created by virtualenv automatically
# archivos ingnorados
views.py

*stream
*images
*friends
*dragonhouse
*ladp
*mandalorian
*obiwankenobi
*skeletoncrew
*smallville
*tahm
*accion
*comedias
*Drama
*ficcion
*suspenso

/animes
*animes

# Controller
*views.py



