# created by virtualenv automatically
# archivos ingnorados
views.py

*stream
*images
*friends
*dragonhouse
*ladp
*mandalorian
*smallville
*tahm
*comedias
*Drama
*ficcion
*suspenso

# Controller
*views.py



