# created by virtualenv automatically
# archivos ingnorados
views.py

# Carpetas ignoradas
/stream # multimedia
*stream
*images

/series
*series

/peliculas
*peliculas

/animes
*animes

# Controller
*views.py



