<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/icon G2.png') }}" sizes="192x192" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/series.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/" class="navbar-brand" aria-label="Brand">
            <img src="{{ url_for('static', filename='images/icon G2.png') }}" class="navbar-logo" alt="">
        </a>
        <a href="{{ url_for('animes_contenido') }}" class="navbar-item">Animes</a>
        <a href="{{ url_for('series_contenido') }}" class="navbar-item">Series</a>
        <a href="{{ url_for('peliculas_contenido') }}" class="navbar-item">Peliculas</a>
        <button id="installButton" type="button" style="display: none;">Instalar App</button>
        <div class="navbar-right">
            <div class="search-container">
                <form method="GET" action="{{ url_for('buscar') }}" class="d-flex align-items-center">
                    <input type="text" name="q" class="form-control me-2" placeholder="Buscar" required>
                    <button type="submit" class="btn btn-primary mt-2">Buscar</button>
                </form>
            </div>
       </div>
    </div>
    <div class="body-content">
        {% block content %}
        {% endblock %}
        
        
        <div class="container controls">
            <button onclick="rewind()" type="button">Rewind</button>
            <button onclick="playPause()" type="button">Play/Pause</button>
            <button onclick="forward()" type="button">Forward</button>
            <button onclick="makeBig()" type="button">BigScreen</button>
            {% if prev_url %}
            <a href="{{ prev_url }}" class="button-link">Previous</a>
            {% endif %}
            {% if next_url %}
            <a href="{{ next_url }}" class="button-link">Next</a>
            {% endif %}
        </div>
        <div class="container">
            <div cLass="row">
            <h2>Lista de Episodios</h2>
            <div class="accordion" id="accordionExample">
                {% for temporada, episodios in temporadas.items() %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ temporada }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ temporada }}" aria-expanded="true" aria-controls="collapse{{ temporada }}">
                            Temporada {{ temporada }}
                        </button>
                    </h2>
                    <div id="collapse{{ temporada }}" class="accordion-collapse collapse" aria-labelledby="heading{{ temporada }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                {% for episodio in episodios %}
                                <li>
                                    <a href="{{ url_for(serie + '_episodios', temporada=temporada, id_episodio=episodio['Episodio']) }}"> 
                                    <strong>Episodio {{ episodio['Episodio'] }} </strong> {{ episodio['titulo'] }}</a>
                                    
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
       
        <hr>
        <footer>
            <p>Copyright &copy; EG90 2024</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='javascripts/series_player.js') }}" defer></script>

</body>
</html>